body {
    font-family: Inconsolata;
    margin: 0;
    padding: 0;
}

/* Global */
.container {
    overflow: hidden; 
    width: 75%;
    margin: auto;
}
ul {
    margin: 0;
}

/* Header */ 
header {
    background-color: #BA7BA1;
    border-bottom: 5px solid #EDCF8E;
}

header a {
    text-decoration: none; 
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}
header a:hover {
    background-color: #C28CAE;
    font-weight: bold;
}
header li {
    list-style: none;
    padding: 0 30px;
}
header ul {
    padding: 0;
    display: flex;
}
header nav {
    margin-top: 25px;
}
header h1 {
    text-shadow: #FFFCA8 2px 2px 0px, #9C9C9C 4px 4px 0px, 9px 4px 2px rgba(206,89,55,0);
}
header img {
    width: 30px;
}
header span {
    padding-right: 10px;
    vertical-align:middle;
}
.headr {
    display: flex;
    justify-content: space-between;
}

/* Main */ 
main {
    background-color: #D0ABA0;
}

/* Start */ 
#start {
    text-align: center;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/62640/pexels-photo-62640.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    height: 500px;
    border-bottom: 5px solid #EDCF8E;
}
#start h1 {
    font-size: 50px;
    margin: 200px auto;
    text-shadow: 1px 3px 0 #000000, 1px 13px 5px #aba8a8;
    color: #CE5937;
}

/* Newsletter */
#subscribe-newsletter {
    background-color: #DEC4A1;
    border-bottom: 5px solid #EDCF8E;

}
#subscribe-newsletter .container {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#subscribe-newsletter h1 {
    font-size: 35px;
}
#subscribe-newsletter form {
    display: flex;
}
#subscribe-newsletter form input {
    border: none;
    height: 15px;
    width: 375px;
    font-size: 20px;
    padding: 20px;
}
#subscribe-newsletter button {
    width: 90px;
    height: 55px;
    border: none;
    color: gray;
}
#subscribe-newsletter button:hover {
    color: black;
    cursor: pointer;
}

/* Animal pictures ( Present ) */
#present {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding: 50px 0;
}
#present img {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.box {
    background-color: #C28CAE;
    text-align: center;
}
.present-text {
    font-size: 26px;
    color: #EDCF8E;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

/* Copyright */
#copyright {
    text-align: center;
    background-color: #BA7BA1;
}
#copyright h3 {
    font-weight: bold;
}


/* Media Queries */
@media (max-width: 1000px) {
    #subscribe-newsletter .container {
        flex-direction: column;
    }
}
@media (max-width: 768px) {
    #subscribe-newsletter .container {
        width: 98%;
    }
    #subscribe-newsletter form input {
        width: 250px;
    }
    #present {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }
    .headr {
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
        width: 95%;
    }
}